@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
  --button-bg: #111827;
  --button-text: #ffffff;
}

body {
  @apply transition-colors duration-300;
  background-color: var(--background);
  color: var(--foreground);
}

.dark body {
  --background: #111827;
  --foreground: #f9fafb;
  --card-bg: #1f2937;
  --card-border: #374151;
  --button-bg: #f9fafb;
  --button-text: #111827;
}

